numpy==1.26.4
fastapi
uvicorn
pydantic
python-dotenv
pymongo
torch
transformers
accelerate
bitsandbytes
sentence-transformers
chromadb
langchain==0.1.17
langchain-community==0.0.36
langchain-core==0.1.48
langchain-text-splitters